<div>
    <h1><b>This is a test page for printing</b><hr color=#00cc00 width=95%></h1>
  <button class="Button Button--outline" onclick="printDiv()">Print</button>
    <p> content content content </p>
    <div id="printableTable">
        <div id="wrapper">
            <div id="left">
                <div id="left_content">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB6rRzAYoJ6C9jLEZuNNW7c_bJWlNE77Mv7et4YxNI5Q&s" width="100%" height="300px" style="border-radius: 20px;">
                    <input type="text" value="Employee Name">
                    <input type="text" value="Employee Name">
                    <input type="text" value="Employee Name">
                    <input type="text" value="Employee Name">
                </div>
            </div>
            <div id="right">
                <h1>Employee Data</h1>
                <input type="text" value="Employee Name">
                <input type="text" value="Employee Name">
                <input type="text" value="Employee Name">
                <input type="text" value="Employee Name">
                <input type="text" value="Employee Name">
                <input type="text" value="Employee Name">
                <input type="text" value="Employee Name">
                <input type="text" value="Employee Name">
            </div>
        </div>
    
    </div>
    <p> content content content </p>
    <p> content content content </p>
    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  
  
  </div>