<div id="wrapper">
    <div id="form_area">
        <form [formGroup]="userForm">

            <mat-form-field appearance="fill">
                <mat-label>सदस्य</mat-label>
                <mat-select formControlName="member">
                    <mat-option value="">कृपया चुनें</mat-option>
                    <mat-option *ngFor="let option of menber" [value]="option.value">{{ option.value}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>नाम</mat-label>
                <input matInput placeholder="नाम दर्ज करें" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>पिता का नाम</mat-label>
                <input matInput placeholder="पिता का नाम दर्ज करें" formControlName="father_name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>जन्म तिथि</mat-label>
                <input matInput type="date" formControlName="dob">
            </mat-form-field>



            <mat-form-field appearance="fill">
                <mat-label>लाइसेंस नंबर</mat-label>
                <input matInput placeholder="लाइसेंस नंबर दर्ज करें" formControlName="dl" >
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label> रक्त समूह + </mat-label>
                <input matInput placeholder="रक्त समूह दर्ज करें" formControlName="blodgroup">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>आधार नंबर</mat-label>
                <input matInput type="number" placeholder="अपना आधार नंबर दर्ज करें" formControlName="aadhar_no">
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>फ़ोन नंबर</mat-label>
                <input matInput placeholder="अपना फ़ोन नंबर दर्ज करें" type="number" formControlName="mobile_no">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>ईमेल आईडी </mat-label>
                <input matInput placeholder="अपना ईमेल आईडी दर्ज करें" formControlName="email" readonly>
            </mat-form-field>

                <h1>पता </h1>
            
            <mat-form-field appearance="fill">
                <mat-label>गांव का नाम </mat-label>
                <input matInput placeholder="अपना गांव का नाम दर्ज करें" formControlName="village">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>पोस्ट </mat-label>
                <input matInput placeholder="अपनी पोस्ट दर्ज करें" formControlName="post">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>थाना / पुलिस-स्टेशन </mat-label>
                <input matInput placeholder="अपनी थाना / पुलिस-स्टेशन " formControlName="ps">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>प्रखण्ड </mat-label>
                <input matInput placeholder="अपनी प्रखण्ड " formControlName="parkhand">
            </mat-form-field>

       

            <mat-form-field appearance="fill">
                <mat-label>ज़िला</mat-label>
                <input matInput placeholder="अपना ज़िला का नाम दर्ज करें " formControlName="dist">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>राज्य</mat-label>
                <input matInput placeholder="अपना ज़िला का नाम दर्ज करें " formControlName="state">
            </mat-form-field>


    






            <mat-form-field appearance="fill">
                <mat-label>पिन कोड </mat-label>
                <input matInput placeholder="अपना पिन कोड दर्ज करें" formControlName="pincode" type="number">

            </mat-form-field>


            <div class="file_box">
                <label style="width: 90%; margin-left: 5%;">Profile Image</label>
                <div class="user_image">
                    <img alt="image" [src]="profile_url">
                    <input type="file" accept=".jpg,.png,.jpeg," #profile (change)="onProfile(profile.files)">
                </div>
            </div>

            <div class="file_box">
                <label style="width: 90%; margin-left: 5%;">Sign Uplode</label>
                <div class="user_image">
                    <img alt="image" [src]="sign_url">
                    <input type="file" accept=".jpg,.png,.jpeg," #sign (change)="onSign(sign.files)">
                </div>
            </div>
            <input type="text" formControlName="id" hidden readonly> 
        </form>

        <button (click)="OnSubmit()" mat-raised-button color="primary" >update</button>

    </div>

</div>