<div id="wrapper">
    <div id="header">
        <img src="https://bihardrivermahasangh.com/registration/assets/header.png" alt="">
    </div>
    <button class="loginbtn" routerLink="login" mat-raised-button color="primary">login</button>
    <div id="form_area">
        <form [formGroup]="userForm">

            <mat-form-field appearance="fill">
                <mat-label>सदस्य</mat-label>
                <mat-select formControlName="member">
                    <mat-option value="">कृपया चुनें</mat-option>
                    <mat-option *ngFor="let option of menber" [value]="option.value">{{ option.value}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Date</mat-label>
                <input matInput type="date" formControlName="cdate">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>नाम</mat-label>
                <input matInput placeholder="नाम दर्ज करें" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>पिता का नाम</mat-label>
                <input matInput placeholder="पिता का नाम दर्ज करें" formControlName="father_name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>जन्म तिथि</mat-label>
                <input matInput type="date" formControlName="dob">
            </mat-form-field>



            <mat-form-field appearance="fill">
                <mat-label>लाइसेंस नंबर</mat-label>
                <input matInput placeholder="लाइसेंस नंबर दर्ज करें" formControlName="dl">
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label> रक्त समूह + </mat-label>
                <input matInput placeholder="रक्त समूह दर्ज करें" formControlName="blodgroup">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>आधार नंबर</mat-label>
                <input matInput type="number" placeholder="अपना आधार नंबर दर्ज करें" formControlName="aadhar_no">
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>फ़ोन नंबर</mat-label>
                <input matInput placeholder="अपना फ़ोन नंबर दर्ज करें" type="number" formControlName="mobile_no">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>ईमेल आईडी </mat-label>
                <input matInput placeholder="अपना ईमेल आईडी दर्ज करें" formControlName="email">
            </mat-form-field>

                <h1>पता </h1>
            
            <mat-form-field appearance="fill">
                <mat-label>गांव का नाम </mat-label>
                <input matInput placeholder="अपना गांव का नाम दर्ज करें" formControlName="village">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>पोस्ट </mat-label>
                <input matInput placeholder="अपनी पोस्ट दर्ज करें" formControlName="post">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>थाना / पुलिस-स्टेशन </mat-label>
                <input matInput placeholder="अपनी थाना / पुलिस-स्टेशन " formControlName="ps">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>प्रखण्ड </mat-label>
                <input matInput placeholder="अपनी प्रखण्ड " formControlName="parkhand">
            </mat-form-field>

       

            <mat-form-field appearance="fill">
                <mat-label>ज़िला</mat-label>
                <input matInput placeholder="अपना ज़िला का नाम दर्ज करें " formControlName="dist">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>राज्य</mat-label>
                <input matInput placeholder="अपना ज़िला का नाम दर्ज करें " formControlName="state">
            </mat-form-field>


    






            <mat-form-field appearance="fill">
                <mat-label>पिन कोड </mat-label>
                <input matInput placeholder="अपना पिन कोड दर्ज करें" formControlName="pincode" type="number">

            </mat-form-field>


            <div class="file_box">
                <label style="width: 90%; margin-left: 5%;">Profile Image</label>
                <div class="user_image">
                    <img alt="image" [src]="profile_url">
                    <input type="file" accept=".jpg,.png,.jpeg," #profile (change)="onProfile(profile.files)">
                </div>
            </div>

            <div class="file_box">
                <label style="width: 90%; margin-left: 5%;">Sign Uplode</label>
                <div class="user_image">
                    <img alt="image" [src]="sign_url">
                    <input type="file" accept=".jpg,.png,.jpeg," #sign (change)="onSign(sign.files)">
                </div>
            </div>

        </form>
    </div>
    <div class="tandc">
        <h1><b>नियम एवं शर्त
            </b></h1>
        <ul>
            <li>मेरे द्वारा उपर्युक्त दी गई सभी जानकारी सही एवं सत्य है ।</li>
            <li>मैं अपनी स्वेच्छा से इस संघ का सदस्यता ग्रहण / प्राप्त कर रहा हूँ | </li>
            <li>मैं संघ के पदाधिकारीयो / सदस्यो द्वारा तय की गई मासिक बचत राशि देने में सक्षम हूँ । </li>
            <li> मैं संघ के सभी नियमों का पालन संघ में बनाए गए नियमानुसार करूंगा। मै कोई मनमानीया नहीं करूंगा। </li>
            <li>मैं प्रत्येक माह की निर्धारित तिथि पर संघ द्वारा निर्धारित की गई राशि को जमा करूंगा । </li>
            <li>मैं संघ द्वारा निर्धारित राशि को 1-3 माह लगातार भुलवश / जानबूझकर जमा नही करता हूँ तो अगले माह 50/- रू
                अतिरिक्त निर्धारित राशि में जोड़कर जमा करूंगा । यदि राशि नही जमा करने पर सदस्यो / पदाधिकारीयो के
                निर्णयानुसार संघ से बाहर कर दिया जा सकता है।
            </li>
            <li>मैं संघ के निर्णयानुसार संघ की बचत जमा राशि में संशोधन / बदलाव करने पर मै सहमत रहूँगा ।
            </li>
            <li>
                मैं अपने जमा धन राशि सदस्यो / पदाधिकारीयों के बैठक में लिए गए निर्णयानुसार संघ के सदस्यो / सामाजिक कार्य
                / गरीबो की मदद करने मे सहमत रहूँगा ।
            </li>
            <li>में संघ के किसी भी सदस्यो द्वारा आपसी मतभेद यदि होता है तो उसका निपटारा / निष्पादन संघ के पदाधिकारीयो
                एवं सदस्यों के बीच बैठक कर समाधान हेतु मे सहमत रहूँगा ।
            </li>
            <li>में संघ के सभी निमयों को पढ़ व सुनकर समझ लिया हूँ एवं अपना हस्ताक्षर संघ पदाधिकारीयो / सदस्यो के सामने
                अपना हस्ताक्षर किया
            </li>


            <br>
            <br>

            <li> <b>नियम एवं शर्त स्वीकार करे</b> <input type="checkbox"> </li>
        </ul>

        <button mat-raised-button color="warn" (click)="OnSubmit()">Submit</button>

    </div>

</div>