<div id="thumbnail">
    <div class="thumbnail_box" routerLink="/institutehome/course">
        <mat-icon>school</mat-icon>
        <b>110</b>
        <span>All Sadasya</span>
    </div>

    <div class="thumbnail_box" routerLink="/institutehome/batch">
        <mat-icon>local_library</mat-icon>
        <b>200</b>
        <span>Rajya Stariya Sadasya</span>
    </div>

    <div class="thumbnail_box" routerLink="/institutehome/batch">
        <mat-icon>local_library</mat-icon>
        <b>230</b>
        <span>Jila Stariya Sadasya</span>
    </div>

    <div class="thumbnail_box" routerLink="/institutehome/batch">
        <mat-icon>local_library</mat-icon>
        <b>520</b>
        <span>Prakhand Stariya Sadasya</span>
    </div>

    <div class="thumbnail_box" routerLink="/institutehome/batch">
        <mat-icon>local_library</mat-icon>
        <b>290</b>
        <span>Samanya Sadasya</span>
    </div>

</div>