<div id="thumbnail">
    <div class="thumbnail_box" >
        <mat-icon>school</mat-icon>
        <b>{{allMember}}</b>
        <span>All Sadasya</span>
    </div>

    <div class="thumbnail_box">
        <mat-icon>local_library</mat-icon>
        <b>{{Rajya}}</b>
        <span>Rajya Stariya Sadasya</span>
    </div>

    <div class="thumbnail_box" >
        <mat-icon>local_library</mat-icon>
        <b> {{jilasajsye}}</b>
        <span>Jila Stariya Sadasya</span>
    </div>

    <div class="thumbnail_box" >
        <mat-icon>local_library</mat-icon>
        <b>{{Prakhand}}</b>
        <span>Prakhand Stariya Sadasya</span>
    </div>

    <div class="thumbnail_box" >
        <mat-icon>local_library</mat-icon>
        <b>{{samnye}}</b>
        <span>Samanya Sadasya</span>
    </div>

</div>